@use '../utilities/variables' as v;

.active {
	background: linear-gradient(0deg, white 15%, v.$pink 15%);
	:hover {
		background: linear-gradient(0deg, white 15%, v.$pink 15%);
		text-decoration: underline;
	}
}

.link {
	color: black;
	padding: 1px;
	margin: 3px;
	text-decoration: none;
	:hover {
		color: black;
		text-decoration: underline;
	}
}
